<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link type="text/css" rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>회원가입form</title>
    <h1>회원가입Form</h1><hr>
    <style>
      input.a{
        background-color: #e0e0e0
      }
      body{
        background-color: #ffbc40
      }

    </style>

  </head>
  <body>
   <form class="" action="index.html" method="post">
     <label for="">이름: </label><br>
     <input class="a" type="text" name="" value="" autofocus required><br><br><br>
     <label for="">비밀번호: </label><br>
     <input class="a" type="password" placeholder = "최소 8글자 이상" name="" value=""required><br><br>
     <label for="">비밀번호 확인: </label><br>
     <input class="a" type="password" placeholder = "최소 8글자 이상" name="" value=""required><br><br>
     <label for="">생년월일 : </label><br>
     <input class="a" type="date" name="" value=""><br><br><br>
     <p>성별을 선택하세요</p>
     <label for="">남자</label>
     <input class="a" type="checkbox" name="" value="남자" ><br>
     <label for="">여자</label>
     <input class="a" type="checkbox" name="" value="" checked>
      <br><hr>
     <input type="submit" name="" value="가입하기">
     <input type="reset" name="" value="다시쓰기"><br><br><br><br>

     <label for="">Color : </label>
     <input class="a" type="color" name="" value=""><br>

     <label for="">Time : </label>
     <input class="a" type="time" name="" value=""><br>
   </form>
  </body>
</html>
